version: "3.9"
    
services:
  db1:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    networks:
      - network1
  dns1:
    build: dns_server/
    networks:
      - network1
  wordpress1:
    container_name: wordpress1
    depends_on:
      - db1
    build: docker_image/
    restart: always
    environment:
      WORDPRESS_DEBUG: "true"
      WORDPRESS_DB_HOST: db1:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    networks:
      - network1
      - network2
networks:
  network1:
    internal: true
  network2:
    internal: false
    
